.profile__wrap{
    padding-top: 50px;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile__block{
    display: flex;
    align-items: center;
}

.profile__block-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px;
    background: white;
}

.profile__block-right{
    position: relative;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px;
    background: white;
}

.profile__change-image-svg-wrap{
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: white;
    padding: 5px;
}

.profile__change-image-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(39, 138, 236);
    height: 30px;
    width: 30px;
}

.profile__block-avatar-skeleton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border: 1px solid gray;
}

.profile__save-name-btn{
    display: flex;
    align-items: center;
    text-shadow: 0px 0px 1px black;
    justify-content: center;
    background: rgb(70, 158, 230);
    color: rgb(226, 226, 226);
    box-shadow: 0px 0px 1px black;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 15px;
}

@media (min-width: 576px) {
    .profile__wrap{
        height: calc(100vh - 50px);    
    }
}

@media (max-width: 576px) {
    .profile__wrap {
        min-height: calc(100vh - 50px);
    }
      
    .profile__block {
        margin: 20px 0px;
        flex-direction: column;
        align-items: center;
    }
      
    .profile__block-left{
        width: 80%;
    }

    .profile__block-right{
        margin: 10px 15px;
    }

    .profile__block-right-email{
        text-align: center;
    }
}