body * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app {
  font-size: 18px;
}

body {
  background: rgba(199, 213, 250, 0.692);
}

.app-wrap {
  margin: 0px auto;
  position: relative;
}

input {
  width: 100%;
  border: 0;
  padding: 10px 0;
  outline: none;
  resize: vertical;
}

button{
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}